<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="achievements-section">

    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle"></p>
            </div>
            <div class="achievements-container">

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <h3 class="achievement-title">Read 4 technical books</h3>
                    <p class="achievement-description">
                        Read and studied programming and software engineering books to strengthen knowledge of Java, design patterns, and development practices.
                    </p>
                </div>


                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <h3 class="achievement-title">38 solved problems</h3>
                    <p class="achievement-description">Completed algorithmic challenges on LeetCode to improve problem-solving and coding skills.</p>
                </div>


                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-project-diagram"></i>
                    </div>
                    <h3 class="achievement-title">4 personal projects</h3>
                    <p class="achievement-description">
                        Contributed to 4 personal projects covering the full development cycle: design, backend, and frontend implementation.
                    </p>
                </div>


                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-laptop-code"></i>
                    </div>
                    <h3 class="achievement-title">10+ technologies</h3>
                    <p class="achievement-description">
                        Gained experience with multiple technologies and tools including Java, Spring Boot, С/С++, Python, Pascal, Assembler, PHP, Hibernate, SQL, and Docker and so on...
                    </p>
                </div>

            </div>
        </div>
    </section>

</th:block>
</html>