<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="footer-section">

    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-brand">
                    <a href="#" class="footer-logo">Oleksandra Mala</a>
                    <p class="footer-text">Java Developer | Building web apps and exploring new technologies</p>
                    <div class="footer-social">


                        <a href="#contact" class="social-link">
                            <i class="fas fa-envelope"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/oleksandra-mala" class="social-link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-linkedin-in"></i>
                        </a>

                        <a href="https://github.com/Cimba22" target="_blank" class="social-link">
                            <i class="fab fa-github"></i>
                        </a>



                    </div>
                </div>
                <div class="footer-links-container">
                <h3 class="footer-heading">Quick Links</h3>
                    <div class="footer-links">

                        <a href="#home" class="footer-link">
                            <i class="fas fa-chevron-right"></i>Home
                        </a>

                        <a href="#about" class="footer-link">
                            <i class="fas fa-chevron-right"></i>About
                        </a>

                        <a href="#projects" class="footer-link">
                            <i class="fas fa-chevron-right"></i>My Projects
                        </a>

                        <a href="#experience" class="footer-link">
                            <i class="fas fa-chevron-right"></i>Education
                        </a>

                        <a href="#achievements" class="footer-link">
                            <i class="fas fa-chevron-right"></i>Achievements
                        </a>

                    </div>
                </div>

            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 Oleksandra Mala.</p>
                <p> All rights reserved.</p>
            </div>
        </div>
    </footer>


</th:block>
</html>